	<article class="type-system-rounded">
		<p class="type"><%= current_article.data.category %></p>
		<h1><%= current_article.title %></h1>

		<p class="date"><%= current_article.date.strftime('%B %d, %Y') %></p>
		<%= partial 'partials/share' %>

		<%= partial 'partials/disclamer' %>
		
		<%= current_article.body %>

		<%= partial 'partials/tag' %>
	</article>